/* App.css */
.App {
  text-align: center;
}

.user-auth-links {
  position: absolute;
  top: 20px;
  right: 20px;
}

.user-auth-links a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.user-auth-links a:hover {
  color: blue;
}
